/**
 * Created by devollove9 on 2017/10/3.
 */
@charset "UTF-8";
@import "variables";
$font-family-base:      "Noto Sans", "HelveticaNeue-Light", sans-serif;

.HomePage {
    width: 100%;
    background: $default-background;

}